@import "../../styles/breakpoint";
@import "../../styles/converter";
@import "../../styles/variables";

.announcementStrip {
  display: flex;
  align-items: center;
  padding: 0 1.5em;
  border-bottom: 1px solid $light-black;
  background: $light-purple;
  height: to-em(50);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  white-space: nowrap;
  overflow: scroll;
}
