@import "../../styles/breakpoint";
@import "../../styles/converter";
@import "../../styles/variables";

.guidesCard {
  background-color: $light-black;
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
  margin-bottom: to-em(20);
  padding: to-em(20 30);
  @include lg() {
    padding: to-em(20 40);
    &:hover {
      opacity: 1;
      transform: translateY(-0.25rem);
      box-shadow: rgba(46, 41, 51, 0.08) 0px 4px 8px,
        rgba(71, 63, 79, 0.16) 0px 8px 16px;
    }
  }
  a {
    text-decoration: none !important;
    color: $white;
  }
  cursor: pointer;
  &__Title {
    text-transform: uppercase;
    margin-bottom: to-em(5);
    color: $light-blue;
  }
  &__Description {
    // font-size: to-em(14);
  }
}
