@import "../../styles/breakpoint";
@import "../../styles/converter";
@import "../../styles/variables";

.homeLayout {
  padding: to-em(80 30);
  margin: to-em(60 0);

  & > :first-child {
    top: to-em(80);
    margin-bottom: to-em(60);
  }

  @include lg() {
    padding: to-em(60);
    margin: to-em(100 0);

    display: grid;
    grid-gap: to-em(100);
    grid-template-areas:
      "intro cards"
      ". cards";
    & > :first-child {
      grid-area: intro;
      position: sticky;
      top: to-em(80);
    }
    & > :last-child {
      grid-area: cards;
    }
  }
  @include xl() {
    padding: to-em(80 220);
  }
}
.guidesLayout {
  margin: to-em(40 0);

  & > :nth-child(1) {
    padding-top: to-em(40);
  }
  @include lg() {
    display: grid;
    // grid-gap: to-em(30);
    grid-template-columns: 280px 1fr;
    grid-template-areas:
      "sidebar content"
      ". content"
      ". content";
    & > :nth-child(1) {
      grid-area: sidebar;
      display: flex;
      flex-direction: column;
      position: fixed;
      width: 280px;
      top: to-em(50);
      height: 100vh;
      border-right: 1px solid $light-black;
    }
    & > :nth-child(2) {
      grid-area: content;
    }
  }
}

.pageLayout {
  padding: to-em(80 220);
}
