@import "../../styles/breakpoint";
@import "../../styles/converter";

.homeLayout {
  padding: to-em(40);
  & > :first-child {
    top: to-em(80);
    margin-bottom: to-em(60);
  }

  @include sm() {
    padding: to-em(60);
  }

  @include lg() {
    padding: to-em(60);
    display: grid;
    grid-gap: to-em(100);
    grid-template-areas:
      "intro cards"
      ". cards";
    & > :first-child {
      grid-area: intro;
      position: sticky;
      top: to-em(80);
    }
    & > :last-child {
      grid-area: cards;
    }
  }
  @include xl() {
    padding: to-em(80 220);
  }
}
.pageLayout {
  padding: to-em(80 220);
}
