@import "../../styles/breakpoint";
@import "../../styles/converter";
@import "../../styles/variables";

.navBar {
  display: flex;
  align-items: center;
  height: to-em(60);
  padding: 1.5em;
  border-bottom: 1px solid $light-black;
  position: fixed;
    top: to-em(0);
  width: 100%;
  background: $black;
  z-index: 5;
  a {
    text-decoration: none;
  }

  //   @include lg() {
  //     padding: to-em(60);
  //   }
  //   @include xl() {
  //     padding: to-em(20 220);
  //   }
}
