@import "../../styles/converter";
@import "../../styles/variables";

.sideBar {
  overflow: scroll;
}
.sideBarNav {
  color: $light-grey;
  //   padding-top: 1rem;
  //   padding-bottom: 1rem;
  h4 {
    color: #b7b5bd;
    padding: 1.5em 1.5em 0.6em 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.075em;
  }
  ul {
    list-style: none;
    width: 100%;
    padding: 0 !important;
    // margin: 0em !important;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: to-em(80px);
    li {
      position: relative;
      width: 100% !important;
      line-height: 2;
      margin: 0em;
      padding: 0em;
      transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1);
      :hover {
        color: $white;
      }
      & {
        display: block;
        color: rgba(255, 255, 255, 0.6);
        font-weight: 400;
        min-height: 2.5em;
        position: relative;
        padding-left: 1.5em;
        padding-bottom: 0.75em;
        width: 100%;
        z-index: 1;
        text-decoration: none;
      }
    }
  }

  &__linkIsActive {
    color: $light-blue;

    &::before,
    &::after {
      content: "";
      left: calc(0.5rem);
      top: 0.8em;
      height: 8px;
      position: absolute;
      width: 8px;
      transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
      background: $blue-to-purple;
      transform: scale(1);
      border-radius: 100%;
    }
  }
}
