@import "../../styles/breakpoint";
@import "../../styles/converter";
@import "../../styles/variables";

.MenuIcon {
  width: to-em(40);
  height: to-em(40);
  transition: all 0.3s ease-in-out;

  &__Wrapper {
    background: $blue-to-purple;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: fixed;
    right: to-em(20);
    bottom: to-em(20);
    width: to-em(50);
    height: to-em(50);
    border-radius: 50%;
    z-index: 10;
    transition: all 0.3s ease-in-out;
    @include lg() {
      display: none;
    }
  }
}
.sideBar {
  padding-top: to-em(60);
  overflow: scroll;
  background: $black;
  height: 100vh;
  width: 80%;
  min-width: 300px;
  position: fixed;
  margin-left: -100%;
  transition: all 0.3s ease-in-out;
  z-index: 2;
  border-right: 1px solid $light-black;
  box-shadow: $light-black 0px 4px 16px, $light-black 0px 8px 24px;
  @include lg() {
    margin-left: 0;
    z-index: 2;
    padding-top: to-em(30);
    box-shadow: none;
  }

  &__isOpen {
    margin-left: 0;
  }
}
.sideBarNav {
  color: $light-grey;

  h5 {
    color: #b7b5bd;
    padding: 1.5em 1.5em 0.6em 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.075em;
  }
  ul {
    list-style: none;
    width: 100%;
    padding: 0 !important;
    // margin: 0em !important;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: to-em(80px);
    li {
      position: relative;
      width: 100% !important;
      line-height: 2;
      margin: 0em;
      padding: 0em;
      transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1);
      :hover {
        color: $white;
      }
      a {
        display: block;
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none !important;
        font-weight: 400;
        min-height: 2.5em;
        position: relative;
        padding-left: 1.5em;
        padding-bottom: 0.75em;
        width: 100%;
        text-decoration: none;
        &,
        &::before,
        &::after {
          transition: all 5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
        }
      }
    }
  }

  &__linkIsActive {
    color: $light-blue !important;

    &::before,
    &::after {
      content: "";
      left: calc(0.5rem);
      top: 0.5em;
      height: 8px;
      position: absolute;
      width: 8px;
      transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
      background: $blue-to-purple;
      transform: scale(1);
      border-radius: 100%;
    }
  }
}
